<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="author" content="Sarah Hanson">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<!-- disables caching -->
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="expires" content="-1">
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<!-- Stylesheets -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="../stylesheet.css">
	<link rel="stylesheet" href="../hoverEffect.css">

	<title><%= title %></title>
	<% include ./partials/bootStrapScripts.ejs %> 
	<script>
		var pkgList;

		function changePackage (el) {
			var curPkg = getMatch(el);
			if (curPkg!=null) {

				var pkgStartFormatted = new Date(curPkg.PkgStartDate).toISOString().replace(/-/g, '/').split('T')[0];
				var pkgEndFormatted = new Date(curPkg.PkgEndDate).toISOString().replace(/-/g, '/').split('T')[0];

				document.getElementById("pkgStart").value 	= pkgStartFormatted;
				document.getElementById("pkgEnd").value 	= pkgEndFormatted;
				
				var now = new Date();
				// setting package date as a YYY-MM-DD format, might be easier ways to do this??
				var then = new Date(curPkg.PkgStartDate);
				
				if (then <= now) {
					document.getElementById("pkgStart").style.color = "red";
					document.getElementById("pkgEnd").style.color = "red";
				}
				else {
					document.getElementById("pkgStart").style.color = "black";
					document.getElementById("pkgEnd").style.color = "black";
					//console.log("> Package date is good");
				}
			}
		}
		
		function getMatch(el) {
			for (var i=0;i<pkgList.length;i++) {
				if (pkgList[i].PackageId == el) return pkgList[i];
			}
			return null;
		}		
		
		$(function () {
			pkgList = <%-pkgArr%>;
			//pkgList = JSON.parse("<%-pkgArr%>");
			document.getElementById("packageNum").value = <%-pkgID%>
			changePackage(document.getElementById("packageNum").value);
		});

	</script>
  </head>
  <body>
  	<% include ./partials/navBar.ejs %> 	
	<!-- Handle Login Checking here -->
	<div class="jumbotron sticky-top jumbo-bg fill pt-50">	
		<div class="jumbotron text-center md-10 p-2 pt-0 light see-through col-md-10 col-xl-6">
		
			<form id="bookForm" method="post" action="/post_booking" targets="_blank" class ="display-7 font-weight-bold salad">
				<div class="form-row">
					<label for="package"> Package </label>
					<select type="text" class="form-control" id="packageNum" placeholder="Select Package" name="package" onblur="if(this.value != ''){this.style.backgroundColor = ''}else{this.style.backgroundColor = '#f0cccc'};" onchange="changePackage(this.value)">
						<% 
							var packageSelect ="";
							for (i=0;i<pkgList.length;i++) {
								//console.log(pkgList[i].PkgName);
								packageSelect+="<option value=\"" + pkgList[i].PackageId + "\">"
								+ pkgList[i].PkgName
								+ "</option>";
							}
						%>
						<%- packageSelect %>
					</select> 
					<img class="img-responsive img-fluid mx-auto rounded-circle" src="">
				</div>
				<div class="form-row">
					<div class="d-flex form-group col-9 align-content right">
						<div class="col">
							<label for="pkgStart"> Start Date </label>
							<input type="text" class="form-control text-center" placeholder="start date" id="pkgStart" name="end" readonly>
						</div>
						<div class="col">
							<label for="pkgEnd"> End Date </label>
							<input type="text" class="form-control text-center" placeholder="end date" id="pkgEnd" name="start" readonly>
						</div>
					</div>
				</div>
				<div class= "form-row">
					<label for="travellers"> Travellers </label> &nbsp;
					<input type="number" id="travellers" min="1" name="travellers" required="true"> 
				</div>
				<button type="submit" class="btn btn-primary" > Book Now </button>
			</form>	
		</div>
	</div>
  </body>
</html>